* {
    box-sizing: border-box;
}

body {
    background-color: #ECD06F;
    color: rgb(21, 21, 22);
    transition: all 2s;
    font-family: 'Ubuntu', sans-serif;
}

body.switch {
    background-color: rgb(38, 31, 81);
    color: white;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 22px;
}

h3 {
    text-transform: uppercase;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
}

/*circle face*/
#face {
    position: absolute;
    top: -200px;
    left: 10%;
    transform: translateX(-50%);
    width: 900px;
    height: 900px;
    border-radius: 50%;
    background-color: #F6955D;
    z-index: -1;
  }

#face.switch {
    background-color: #ECD06F;
  }

header {
    margin: 0 auto 2em auto;
    line-height: 1em; 
}

/*header background animation*/
#headerBg1 img {
    position: absolute;
    right: 50px;
    top: 20px;
    animation: float 6s infinite ease-in-out;
}

#headerBg1.switch {
    visibility: hidden;
    opacity:0;
}

#headerBg2.switch {
    visibility: visible;
    opacity:1;
}

#headerBg2 img {
    position: absolute;
    right: 50px;
    top: 40px;
    animation: float 6s infinite ease-in-out;
}

@keyframes float {
    0% {transform: translate(0px, 0px);}
    50% {transform: translate(0px, 40px);}
    100% {transform: translate(0px, 0px);}
}

.showing {
    visibility: visible;
    opacity:1;
  }

.hidden {
    visibility: hidden;
    opacity:0;
  }

#banner {
    position: relative;
    display: flex;
    width: 1100px;
    height: 250px;
    margin: auto;
    color: #333;
    overflow: hidden;
    display: grid;
	place-items: center;
    background-color: transparent;
}

#banner.switch {   
    color: rgb(235, 235, 235);
    transition: all 2s;
}

/*banner googly eyes*/
#banner .leftEye
 {
    width: 60px;
    height: auto;
    position: absolute;
    left: 60px;
}

.leftEye:hover {
    cursor: pointer;
    transform: rotate(140deg);
    transition-duration: 240ms;
}

.rightEye:hover {
    cursor: pointer;
    transform: rotate(140deg);
    transition-duration: 240ms;
}

#banner .rightEye
 {
    width: 60px;
    height: auto;
    position: absolute;
    left: 200px;
}


main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
}

main section {
    width: 25%;
    border-radius: 6px;
    margin: 0 .25em;
    padding: 1em;
    background-color: white;
}


a {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: black;
}

section a:hover {
    background-color: #F6955D;
    color: #333;
}

section.switch {
    background-color: #545169;
}

section.switch a {
    color: white;
    
}

section.switch a:hover {
    background-color: #333;
    color: rgb(235, 235, 235);
}

button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    background-color: #F6955D;
    color: #333;
    border: 1px solid transparent;
    border-radius: 60px;
    transition: 1000ms;
}

button:hover {
    background-color: coral;
    cursor: pointer;
}

button.switch {
    background-color: rgb(235, 235, 235);
    border-color: #333;
    /*background animation*/
}

button.switch:hover {
    background-color: #333;
    color: rgb(235, 235, 235)
}



