body {
    background-color: #EFE3D3;
    font-family: 'Cabin', sans-serif;
    color: #1E7F94;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: left;
    margin-left: 2em;
    line-height: 1em;
    padding: 1.6em;
}

h1 {
    font-family: 'Calistoga', cursive;
    font-size: 40px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 26px;
    margin: 0;
}

p {
    font-size: 21.5px;
    color: rgb(39, 39, 41);
}

#container{
    width: 1000px;
    margin: 5px auto;
    padding: 5px;
    position: relative;
    align-items: center;
}
#boxes {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
#pieceContainer {
    width: 460px;
    height: 460px;
    text-align: center;
    font-size: 30px;
    line-height: 400px;
    position: relative;
    padding: 0;
}

.piece{ 
    width: 112px;
    height: 112px;
    border: 0.2px solid #D9D9D9;
    float: left;
}

#puzzleContainer {
    width: 460px;
    height: 460px;
    border: 0.2px solid #D9D9D9;
    background-color: #AFAFB8;
    align-items: center;
    padding: 0;
}

ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1em;
}
ul button {
    width: 100px;
    /* border: 3px solid #461257; */
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    color: #cbcfd3;
    background-color: #1E7F94;
    transition: .5s ease-in-out;
}
ul button:hover{
    color: #202020;
    background-color: rgb(210, 223, 226);
    border-color: #1E7F94;
}
#btnReset {
    display: none;
}

#btnDone {
    display: none;
}

.hidden {
    display: none;
}

.showing {
    position: absolute;
    left: 20%;
    bottom: 20%;
    width: auto;
    padding: 1.5em;
    background-color: rgb(248, 248, 248);
    color: black;
    z-index: 1;
}

.window {
    display: flex;
}

.window p {
    font-size: 18px;
    text-align: left;
    line-height: 1.4em;
    width: 400px;
    height: auto;
    
}

.para1 {
    margin-left: 1.5em;
}

.para2 {
    margin-right: 1.5em;  
}

.showing img {
    width: auto;
    height: 360px;
}
    
#lgPopup {
    width: 500px;
    height: 380px;
    padding: 1.5em;
    background-color: #E27173;
    position:absolute;
    left: 30%;
    top: 22%;
    color: white;
    border-radius: 5%;
}

#lgPopup h1 {
    font-family: 'Pacifico', cursive;
    font-size: 58pt;
}

.options {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    margin-bottom: 0;

}

.options p {
    color: white;
    font-size: 20px;
}

#btnClosePopup {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #cf5d5f;
    color: white;
    border-color: transparent;
    font-size: 20px;
    border-radius: 50%;
}

.btnClose {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #9e9a9a8e;
    color: rgb(21, 20, 20);
    border-color: transparent;
    font-size: 20px;
    border-radius: 50%;
    margin: 10px;
}

canvas#confetti {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    pointer-events: none;
  }

  a {
    color: white;
  }

#alertMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 800px;
}

.instruction {
    text-align: left;
    padding: 1.6em;
    line-height: 1.6em;
}

footer {
    padding-top: 20px;
    ;line-height: 5px;
}