* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8AD74E;
    padding: 2em;
    font-size: 25px;
    width: 100vw;
    font-family: 'Ubuntu', sans-serif;
}

main {
    position: relative;
    /* background-color: antiquewhite; */
    width: 1200px;
    height: auto;
}

#outer-dropzone {
    height: 424px;
    width: 424px;
    background-color: #FA6D1D;
    border-radius: 50%;
  }
  
  #inner-dropzone {
    height: 380px;
    width: 380px;
    border-radius: 50%;
    background-color:#FFE27B;
  }
  
  .dropzone {
    background-color: #bfe4ff;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
    transition: background-color 0.3s;
  }
  
  .drop-active {
    border-color: #aaa;
  }
  
  .drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
  }
  
  .drag-drop1{
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-image: url(images/piece1.png);
    background-repeat: no-repeat;
    background-position: 60%;
    background-size: 70%;
    color: #fff;
    touch-action: none;
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
  }

  .drag-drop2{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(images/piece2.png);
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: 64%;
    color: #fff;
    touch-action: none;
    transform: translate(0px, 0px);
    transition: background-color 0.3s;

  }

  .drag-drop3{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(images/piece3.png);
    background-repeat: no-repeat;
    background-position: 40%;
    background-size: 66%;
    color: #fff;
    touch-action: none;
    transform: translate(0px, 0px);
    transition: background-color 0.3s;

  }

  .drag-drop4{
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-image: url(images/piece4.png);
    background-repeat: no-repeat;
    background-position: 60%;
    background-size: 70%;
    color: #fff;
    touch-action: none;
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
  }

  .drag-drop5{
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-image: url(images/piece5.png);
    background-repeat: no-repeat;
    background-position: 70%;
    background-size: 72%;
    color: #fff;
    touch-action: none;
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
  }

  .drag-drop6{
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-image: url(images/piece6.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 54%;
    color: #fff;
    touch-action: none;
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
  }


  .drag-drop7{
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-image: url(images/piece7.png);
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: 54%;
    color: #fff;
    touch-action: none;
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
  }


  .drag-drop8{
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-image: url(images/piece8.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 74%;
    color: #fff;
    touch-action: none;
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
  }

  .drag-drop.can-drop {
    color: #000;
    background-color: rgba(68, 238, 68, 0.034);
    width: 300px;
    height: 300px;
  }

  #rightPanel{
    position: absolute;
    right: 20px;
    top: 30px;
    z-index: -1;
  }

  /*confetti style*/
  .container {
  width: 600x;
  height: 100px;
  position: absolute;
  left: 30%;
  top: 120%;
  justify-content: center;
  z-index: 2;
}
.open {
  padding: 20px 80px;
  font-size: 24px;
  color: #fff;
  border-radius: 100px;
  border: none;
  outline: none;
  background: #2466ff;
  cursor: pointer;
  font-weight: 500;
}
.open.hidden {
  display: none;
  pointer-events: none;
}
.box {
  padding: 30px 40px;
  background: #fff;
  box-shadow: 0 10px 40px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 600px;
  border-radius: 10px;
  display: none;
  pointer-events: none;
}
.box.visible {
  display: block;
  pointer-events: all;
}
.box .imgBox {
  text-align: center;
}
.box img {
  width: 180px;
}
.title {
  margin-top: 30px;
  text-align: center;
  font-size: 32px;
  color: #222;
}
.box p {
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
  color: #777;
}
.btnContainer {
  display: flex;
  justify-content: center;
}
.close {
  margin-top: 30px;
  width: 240px;
  height: 54px;
  cursor: pointer;
  font-size: 17px;
  color: #fff;
  border: none;
  outline: none;
  background: #2466ff;
  border-radius: 5px;
}
