* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: antiquewhite;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: grayscale(100%);
}

#poem p {
    position: absolute;
    font-size: 1.5em;
    transition: all 2.5s;
    font-family: 'Playfair Display', serif;
}

#line1 {
    bottom: 30%;
    right: 10%;
}

#line2 {
    bottom: 24%;
    right: 10%;
}

#line3 {
    bottom: 18%;
    right: 10%;
}

#feather {
    width: 8%;
    position: absolute;
    top: 0%;
    right: 10%;
    animation: feather-fall 26s forwards;
}

@keyframes feather-fall {
    0% {
        top: 0%;
        opacity: 0;
    }
    50% {
        opacity: 0%;
    }
    100% {
        top: 80%;
        opacity: 1;
    }
}

#feather:hover {
    transform: translate(-50%, -50%) rotate(360deg);
    transition: transform 1s ease-in-out;
    cursor: pointer;
  }
  

.hidden {
    opacity: 0;
}

.showing {
    opacity: 1;
}

.fa-dove {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 36px;
    color: antiquewhite;
    transform: translate(-50%, -50%);
    animation: bird 2s infinite alternate ease-in-out;
}

@keyframes bird {
    0% {
        opacity: .5;
        transform: scale(1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .5;
        transform: scale(1.5);
    }
}